openapi: 3.0.1
info:
  title: Schemed Talk Service Openapi Yaml
  version: 0.1.0
servers:
- url: "{server}:{port}/"
  variables:
    server:
      default: http://localhost
    port:
      default: 9090
paths:
  /schemed_talks:
    post:
      operationId: postSchemedTalks
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SchemedTalk'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /schemed_talks_responses:
    post:
      operationId: postSchemedTalksResponses
      requestBody:
        content:
          '*/*':
            schema:
              description: Any type of entity body
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /sales_persons:
    get:
      operationId: getSalesPersons
      tags:
        - Get SalesPerson
      summary: Retrieves sales persons
      description: Retrieves sales persons
      parameters:
        - name: pointOfSaleId
          in: query
          required: true
          schema:
            type: integer
            example: 155
      responses:
        '201':
          description: Retrieves the sales persons of the provided OpenFlex point of sale ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesPerson'
  /openapi:
    get:
      operationId: getOpenapi
      responses:
        "200":
          description: Ok
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
  /openapi_dev:
    get:
      operationId: getOpenapiDev
      responses:
        "200":
          description: Ok
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorPayload'
components:
  schemas:
    ErrorPayload:
      required:
      - message
      - method
      - path
      - reason
      - status
      - timestamp
      type: object
      properties:
        timestamp:
          type: string
        status:
          type: integer
          format: int64
        reason:
          type: string
        message:
          type: string
        path:
          type: string
        method:
          type: string
    SchemedTalk:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        talkScheme:
          type: array
          items:
            $ref: '#/components/schemas/SchemedTalk'
    salesPersonRequest:
      type: object
      properties:
        pointOfSaleId:
          type: integer
          example: 155
    SalesPerson:
      type: object
      properties:
        id:
          type: integer
          example: 1
        email:
          type: string
          example: jerry.lewis@crazycars.com
        lastname:
          type: string
          example: Lewis
        firstname:
          type: string
          example: Jerry
        deleted:
          type: boolean
          example: false
      example:
        id: 1
        email: jerry.lewis@crazycars.com
        lastname: Lewis
        firstname: Jerry
        deleted: false